<template name="sidebar">
    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 sidebar sidebar-left sidebar-animate shadow-z-2 shadow-z-4 -webkit-scrollbar jumbotron {{showIcon}} {{animasiSide}}"
         style="background: url(/images/body.jpg);z-index: 100;">
        {{#each sideMenuGroup}}
            <div class="list-group panel panel-default flexSidebar">
                <div class="panel-heading shadow-z-1">
                    <p class="{{iconMENUGROUP}}" style="color: {{sGeneralFont}};">&nbsp;{{namaMENUGROUP}}</p>
                </div>
                <ul class="nav navbar-stacked">
                    {{#each sideMenu}}
                        {{#if isAuthAdmin}}
                            <li><a class='{{iconMENU}}' href="{{routerMENU}}" style="text-decoration: none;">
                                &nbsp;{{namaMENU}}
                                <span class="badge" style="background-color: {{sHeaderBackground}};color:white;">{{noBadge}}</span>
                            </a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        {{/each}}


        <div class="list-group panel panel-default flexSidebar">
            <div style="position: absolute;right: 0px;;z-index: 20000;">
                <label class="switch" style="position: relative">
                    <input type="checkbox" class="lockMenu" name="lockMenu" {{isLockMenu}}>
                    <div class="slider round"></div>
                </label>
            </div>
            <div style="position: absolute;right: 35px;">
                <label style="font-size: x-small;color: {{warnaLock}};">Lock Menu</label>
            </div>
        </div>

        <BR><BR><BR><BR><BR>

    </div>

</template>
