/***
 editYourAvatarModal
 */

#realImage {
  display: block;
  margin: 0px;
}

#avatarUserImg {
  display: block;
  margin: 0px;
  max-width: 400px;
  margin: 0 0 10px 0;
}

#previewFrame {
  margin: 0 1em;
}

#previewFrame #preview {
  overflow: hidden;
}

#previewFrame #preview img {
  width: 100%;
  height: auto;
}

.w-modal0 {
width: 80% !important;
margin-left: auto !important;
margin-right: auto !important;
}
